:host
{
    .page-container
    {
        height: 100vh;
        width: 100vw;
        .data-table-container
        {
            width: 1200px;
            height: 500px;
        }
        .tab-btn
        {
            &.active-tab
            {
                border-bottom: 2px solid blue;
            }
        }
        .search-input-container
        {
            input{
                width: calc(100% - 24px);
            }
            .material-icons
            {
                color: gray;
            }
        }
        .tab-data-container
        {
            flex: 1 1 0;
            overflow: auto;
        }
        .icons-container
        {
            color: grey;
        }
        .column-labels
        {
            font-weight: 600;
            font-size: 18px;        
        }
        .data-table-body-container
        {
            height: calc(100% - 60px);
        }
        .active-data
        {
            background: lightblue;
        }
    }
}
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }